.venv/
.vscode/
/webscrapping\__pycache__\
/dataset/python/__pycache__/
/ml/__init__.py
/preprocessing/__init__.py
/preprocessing/__pycache__/
/ml/__pycache__/
fep/sandbox/
/logs
.env
/dataset/ml/too_good_phrases_v1.csv
/visualization/__pycache__/
/visualization/__init__.py
/dataset/ml/too_good_phrases_v2.csv
/dataset/ml/pointwise_mutual_information_scores.csv
dataset/ml/mutual_information_scores_v2.csv
/dataset/ml/phrase_embeddings.csv
/dataset/ml/ubiquitous_phrases.csv
/ner/__pycache__/
